*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 62.5%;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;;
}
a{
    text-decoration: none;
}
li{
    padding: 50px 0;
    list-style: none;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.nav--left-side{
    display: flex;
    height: 100px;
    align-items: center;
    gap: 30px;
}
.nav--left-side a{
    font-size: 1rem;
    color: #000;
    font-weight: bold;
    padding: 42px 0;
}
.nav--left-side a:hover{
    color: #008248;
    box-shadow: inset 0 -6px #008248;
}
.nav--logo img{
    width: 100px;
    cursor: pointer;
}
.nav--right-side{
    display: flex;
    height: 100px;
    align-items: center;
    gap: 30px;
    margin-right: 40px;
}
.nav--button-location{
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.nav--button-location:hover{
    color: #008248;
}
.nav--button{
    background-color: #fff;
    padding: 0 10px;
    font-size: 1rem;
    border-radius: 50px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    border: solid 1px #000;
}
.nav--button:hover{
    background-color: #f3f1e7;
}
.button-black{
    color: #fff;
    background-color: #000;
}.button-black:hover{
    background-color: #555;
}
.header--tittle{
    display: flex;
    height: 50px;
    background-color: #1e3932;
    color: #fff;
    align-items: center;
    padding-left: 125px;
    font-size: 1rem;
    font-weight: bold;
}
main{
    margin-top: 150px;
}
.main--section-banner{
    display: flex;
    background-image: url('./img/Stabucks-Banner.webp');
    background-color: #d4e9e2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    align-items: center;
    padding-left: 50px;
}
.main--banner-info h1{
    font-size: 3.6rem;
    margin-bottom: 30px;
}
.main--banner-info p{
    font-size: 1.8rem;
}
.main--banner-info button{
    padding: 0 15px;
    border-radius: 50px;
    height: 50px;
    font-size: 1.2rem;
    background-color: #008248;
    border: none;
    color: #fff;
    margin: 30px 0;
}
.main--banner-info a{
    color:#000;
    text-decoration: underline;
}
.main--banner-info a:hover{
    text-decoration: none;
}
.main--section-instruction{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 75px;
    gap: 20px;
}
.main--section-instruction .main--instruction-tittle{
    font-size: 2rem;
}
.main--section-instruction .main--instruction-subtittle{
    font-size: 1rem;
}
.main--instruction-articles-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.main--instruction-articles{
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    align-items: center;
    gap: 20px;
}
.main--instruction-articles img{
    width: 50px;
}
.main--instruction-articles h5{
    font-size: 1rem;
}
.main--instruction-articles p{
    font-size: 0.9rem;
}
.main--instruction-articles a{
    color: #008248;
    text-decoration: underline;
}
.main--instruction-articles a:hover{
    text-decoration: none;
}
.main--favorite-section{
    background-color: #f1f8f6; 
}
.main--favorite-tittle-container{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    font-size: 1.2rem;
}
.main--favorite-options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main--favorite-options-button button{
    width: 100px;
    height: 60px;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.main--favorite-options-button button:active{
    box-shadow: inset 0 -6px #008248;
}
.main--favorite-display-container{
    width: 100%;
}
.main--favorite-display-container article{
    display: flex;
    background-color: #d4e9e2;
    box-shadow: inset 0 7px 9px -7px rgb(0 0 0 / 14%);
    width: 100%;
    justify-content: center;
    padding-top: 40px;
}
.main--favorite-display-img img{
    width: 375px;
    margin-right: 50px;
}
.main--favorite-display-info{
    display: flex;
    width: 375px;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

}
.main--favorite-display-info h6{
    font-size: 1.4rem;
}
.main--favorite-display-info p{
    font-size: 1rem;
    line-height: 1.6rem;
}

